@font-face {
	font-family: 'roboto-sourcesans';
	src: url('./Roboto-Regular.ttf');
	src: url('./SourceSansPro-Bold.ttf');
}

.hello {
	color: red;
	font-family: 'roboto-sourcesans';
	background: url('./icon.png');
}
